#{extends 'main.html' /}
<style type="text/css">
.gallarydiv img{
  border: inset 10px !important;
  border-color: rgba(131, 130, 130, 0.21);
  border-radius: 50%;
  cursor: pointer;
  width: 150px;
  height:150px;
}
.gallarydiv:hover img  {
  border-color: red !important;
  opacity: 0.3;
}
</style>
<div data-role="page" id="teacherlist-page">
   #{header /}
	<div data-role="content" class="ui-content" data-theme="a">
		<div class="gallary-gird-class">
			#{list items:sparklist,as:'spark'}
				%{String[] girds = ["a","b","c","d","e","f"] 
					int i = (spark_index-1) % 6;
					String girdname = girds[i];
				}%
				<div class="ui-block-${girdname}">
					<div class="gallarydiv haveborder ui-corner-all">
						<p class="titlewithunderline">summary</p>
						<a href="#popupParis" data-rel="popup" data-position-to="window" data-transition="fade">
							<img id="salemessage-pic" src="@{'public/images/teacher/gao_yanli.jpg'}">
						</a>
					</div>
				</div>
			#{/list}
		</div>
 	</div>
	#{footer /}
</div>