aboutus<!DOCTYPE html>
<html lang="zh-cn">
 	<head>
 		<meta name="viewport" content="width=device-width, initial-scale=1.0">
 		
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script> 
		<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
 		<link rel="stylesheet" href="../stylesheets/jquery.mobile-1.4.2.css" />
		

 		<style type="text/css">
 			html,body{ 
				margin:0px; 
				height:100%; 
			} 
 			
 		</style>
 		<script>
 			
 		</script>
		

 	</head>
 	<body>
 		<div data-role="page" id="welcome-page">
 			
 			<div data-role="content" class="ui-content" data-theme="a">
 				<div class="ui-grid-solo">
 					<div class="ui-block-a">
 						<img src="../">
 					</div>
 				</div>
 				 				
 			</div>
 			<div data-role="footer" data-theme="e">
 				<p>footer</p>
 			</div>
 		</div>
 	</body>
</html>