#{extends 'main.html' /}
<style type="text/css">
	html,body{ 
	margin:0px; 
	height:100%; 
} 
	.ui-content{
	 background:url("@{'/public/images/twokidsedit.jpg'}") no-repeat center center fixed;
	 background-size : 100% 100%;
	 background-color: #D8EDEC; 
	 padding-top:5%;
	 padding-left: 5%;
	 padding-right: 5%;
	 padding-bottom: 10%;
	}
	#first_big_container .mainpageblock {
		         max-height: 5em;
		         background:url("@{'/public/images/bgp2.jpg'}") no-repeat center center fixed;
			     background-size : 100% 100%;
			     filter:alpha(opacity=75); /*IE*/
			     -moz-opacity:0.75; /*MOZ , FF*/
			     opacity:0.75; /*CSS3, FF1.5*/
			     font-size: .8em
		      }
		    .mainpageblock .ui-icon-lmmainpage{
		   		background-size : 3em 3em;
		   		height: 3em;
		   		width: 100%;
		 	}
		 	@media all and (min-width: 42em) {
		       #first_big_container .mainpageblock {
		          max-height: 7em;
		          background:url("@{'/public/images/bgp2.jpg'}") no-repeat center center fixed;
			     background-size : 100% 100%;
			     filter:alpha(opacity=75); /*IE*/
			     -moz-opacity:0.75; /*MOZ , FF*/
			     opacity:0.75; /*CSS3, FF1.5*/
			     font-size: 1em
		       }
		      	.mainpageblock .ui-icon-lmmainpage{
		    	background-size : 4em 4em;
		    	height: 4em;
		    	width: 100%;
		  		}
		    }
		    @media all and (min-width: 52em) {
		       #first_big_container .mainpageblock {
		         min-height: 9em;
		         background:url("@{'/public/images/bgp2.jpg'}") no-repeat center center fixed;
			     background-size : 100% 100%;
			     filter:alpha(opacity=75); /*IE*/
			     -moz-opacity:0.75; /*MOZ , FF*/
			     opacity:0.75; /*CSS3, FF1.5*/
			     font-size: 1.2em
		       }
		      	.mainpageblock .ui-icon-lmmainpage{
		    	background-size : 6em 6em;
		    	height: 6em;
		    	width: 100%;
		  		}
		   }
		   @media all and (min-width: 75em) {
		       #first_big_container .mainpageblock {
		          min-height: 14em;
		          background:url("@{'/public/images/bgp2.jpg'}") no-repeat center center fixed;
			     background-size : 100% 100%;
			     filter:alpha(opacity=75); /*IE*/
			     -moz-opacity:0.75; /*MOZ , FF*/
			     opacity:0.75; /*CSS3, FF1.5*/
			     font-size: 1.2em
		       }
		      	.mainpageblock .ui-icon-lmmainpage{
		    	background-size : 9em 9em;
		    	height: 9em;
		    	width: 100%;
		  		}
		   }
		    .blankblock {
		    	filter:alpha(opacity=0); /*IE*/
		      -moz-opacity:0; /*MOZ , FF*/
			  opacity:0; /*CSS3, FF1.5*/
		    }
		
			.ui-icon-school{
			   	background:url("@{'/public/images/4.png'}") no-repeat 50% 50%;
			   }
			   .ui-icon-student{
			   	background:url("@{'/public/images/4o1.png'}") no-repeat 50% 50%;		   
			   }
			   .ui-icon-lessons{
			   	background:url("@{'/public/images/12.png'}") no-repeat 50% 50%;		    	
			   }
			   .ui-icon-specalevent{
			   	background:url("@{'/public/images/gifts.png'}") no-repeat 50% 50%;		    	
			   }
			   .ui-icon-lessonresult{
			   	background:url("@{'/public/images/25.png'}") no-repeat 50% 50%;		    	
			   }
			   .ui-icon-memebership{
			   	background:url("@{'/public/images/21.png'}") no-repeat 50% 50%;		    	
			   }
	
</style>
<script>
$(document).ready(function(){
var screen = $.mobile.getScreenHeight();

var header = $(".ui-header").hasClass("ui-header-fixed") ? $(".ui-header").outerHeight() - 1 : $(".ui-header").outerHeight();

var footer = $(".ui-footer").hasClass("ui-footer-fixed") ? $(".ui-footer").outerHeight() - 1 : $(".ui-footer").outerHeight();

var contentCurrent = $(".ui-content").outerHeight() - $(".ui-content").height();

var content = screen - header - footer - contentCurrent;

$(".ui-content").height(content);

});
</script>
<div data-role="page" id="welcome-page">
 			
	<div data-role="content" class="ui-content" data-theme="a">
				
	 	<div id="first_big_container">
			<div class="ui-grid-b">
				<div class="ui-block-a">
					<a href="@{Lessons.list}" class=" ui-btn ui-shadow ui-corner-all mainpageblock" data-ajax="false">
							<div class="ui-icon-lmmainpage ui-icon-lessons">
							</div>
							<p>课程介绍</p>
							
					</a>
				</div>
				<div class="ui-block-b">
					<a href="#" class="ui-btn ui-shadow ui-corner-all blankblock">
							<div class="ui-icon-school">
							</div>
							<p>School</p>
							
					</a>
				</div>
				<div class="ui-block-c">
					<a href="sparksfly.html" class="ui-btn ui-shadow ui-corner-all mainpageblock" data-ajax="false">
							<div class="ui-icon-lmmainpage ui-icon-student">
							</div>
							<p>精彩瞬间</p>
							
					</a>
				</div>
				<div class="ui-block-a">
					<a href="salemessage.html" data-ajax="false" class="ui-btn ui-shadow ui-corner-all mainpageblock" >
							<div class="ui-icon-lmmainpage ui-icon-specalevent">
							</div>
							<p>优惠信息</p>
							
					</a>
				</div>
				<div class="ui-block-b">
					<a href="./aboutus.html" class="ui-btn ui-shadow ui-corner-all mainpageblock" data-ajax="false">
							<div class="ui-icon-lmmainpage ui-icon-school">
							</div>
							<p>关于我们</p>
							
					</a>
				</div>
				<div class="ui-block-c">
					<a href="successlist.html" class="ui-btn ui-shadow ui-corner-all mainpageblock" data-ajax="false">
							<div class="ui-icon-lmmainpage ui-icon-lessonresult">
							</div>
							<p>榜上有名</p>
							
					</a>
				</div>
				<div class="ui-block-a">
					<a href="#" class="ui-btn ui-shadow ui-corner-all blankblock" >
							<div class="ui-icon-school">
							</div>
							<p>1235678</p>
							
					</a>
				</div>
				<div class="ui-block-b">
					<a href="@{Teachers.list}" data-ajax="false" class="ui-btn ui-shadow ui-corner-all mainpageblock" >
							<div class="ui-icon-lmmainpage ui-icon-memebership">
							</div>
							<p>名师介绍</p>
							
					</a>
				</div>
				<div class="ui-block-c">
					<a href="#" class="ui-btn ui-shadow ui-corner-all blankblock" >
							<div class="ui-icon-school">
							</div>
							<p>1235678</p>
							
					</a>
				</div>
			</div>
		
		
		</div>
		
	</div>
</div>