<!DOCTYPE html>
<html lang="zh-cn" class="ui-mobile">
 	<head>
 	 	
 		<meta name="viewport" content="width=device-width, initial-scale=1.0">
 		<link rel="stylesheet" href="@{'/public/stylesheets/main.css'}">
 		<link rel="stylesheet" href="@{'/public/stylesheets/jquery.mobile.external-png-1.4.2.min.css'}">
 		<link rel="stylesheet" href="@{'/public/stylesheets/jquery-mobile-five-swatches.min.css'}">
 		<link rel="stylesheet" href="@{'/public/stylesheets/jquery.mobile.structure-1.4.2.min.css'}">
 		#{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.10.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery.mobile-1.4.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
		

 		<style type="text/css">
 			img{
 				max-width: 100%;
 			}
			
 		</style>
 	</head>
    <body>
        #{doLayout /}
    </body>
</html>
